@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
@import './variables.scss';

:root {
    --primary: #fe2c55;
    --black: black;
    --white: white;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: $text-color;
}

button,
input,
[tabindex] {
    @extend %reset-default-button-input;
}

a[href] {
    color: $text-color;
    text-decoration: none;
}

// custom tippy tooltip
body .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
}
body {
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
