$search-border-radius: 92px;
$search-height: 46px;
$search-btn-width: 52px;
.search-result,
.search {
    width: 361px;
}
.search-result {
    transition: all 0.3s linear;
}
.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 16px;
}
.search {
    position: relative;
    display: flex;
    height: $search-height;
    background: rgba(22, 24, 35, 0.06);
    border-radius: $search-border-radius;
    padding-left: 16px;
    border: 1.5px solid transparent;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $search-btn-width;
        height: calc($search-height - 18px);
        width: 1px;
        background: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        padding-right: 40px;
        background-color: transparent;
        color: var(--black);
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}
.clear,
.loading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc($search-btn-width + 16px);
    color: rgba(22, 24, 35, 0.34);
}
.loading {
    animation: spinner ease-in-out infinite 0.6s;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: $search-btn-width;
    height: 100%;
    cursor: pointer;
    border-top-right-radius: $search-border-radius;
    border-bottom-right-radius: $search-border-radius;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}
